<!doctype html>
<html lang="en" ng-app="SLM4E">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ 'TITLE' | translate }}</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" href="lib/bower_components/lumx/dist/lumx.css"> -->
    <!-- <link rel="stylesheet" href="lib/bower_components/mdi/materialdesignicons.css"> --> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="css/app.css"/>

</head>
<body role="document">

   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="navController">
       <div ng-if="firstTime">
        {{getMessagesHistory()}}
      </div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""><img alt="SLM4 Energy Expert" src="img/logoSLM4G-verysmall.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" collapse="navCollapsed">
          <ul class="nav navbar-nav">
            <li><a href ng-click="go('/')">{{ 'MESSAGES_MENU' | translate }} <span class="badge"><div ng-show="updateQuestionsToRead()">{{questionsToRead}}</div></a></li>
            <!-- TODO: Set the advice option in a Dropdown menu
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" translate>Advices<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                 <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
                <li><a href ng-click="go('/energyadvice')" translate>Energy Advice</a></li>
                <li class="divider"></li>
                <li><a href ng-click="go('/lightadvice')" translate>Light Advice</a></li> --> 
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-controller="languageController">
            <button type="button" class="btn btn-default navbar-btn" ng-click="changeLanguage('en_US')" translate="BUTTON_EN"></button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="changeLanguage('es_ES')" ng-disabled="true" translate="BUTTON_ES"></button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="changeLanguage('sw_SW')" ng-disabled="true" translate="BUTTON_SW"></button>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <!--
    <ul class="menu" ng-controller="navController">
        <li><a href ng-click="go('/tracking')">tracking</a></li>
        <li><a href ng-click="go('coordinates')">coordinates</a></li>
    </ul> -->

    
    <div class="row" ng-view></div>
    <div class="containter-fluid" style="padding-top:50px;">
        <div class="row footer">
            <div class="col-lg-12">
                <div class="container">
                    <div class="row">SLM 4 Energy Expert: v<span app-version></span></div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container" role="main">    
        <div class="row" ng-view></div>
        <div class="row">SLM4H: v<span app-version></span></div>
        
    </div>
    -->

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>    -->

    <!-- Libs -->
    <script src="lib/bower_components/jquery/dist/jquery.js"></script>
    <script src="lib/bower_components/velocity/velocity.js"></script>
    <script src="lib/bower_components/moment/min/moment-with-locales.js"></script>


    <!-- Angular -->
    <script src="lib/bower_components/angular/angular.js"></script>
    <script src="lib/bower_components/angular-route/angular-route.js"></script>

    <!-- Angular-translate.js should be added after angular.js because its dependency with ng -->
    <script src="lib/bower_components/angular-translate/angular-translate.js"></script>
    <script src="lib/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

    <!-- LumX -->
    <!-- <script src="lib/bower_components/lumx/dist/lumx.js"></script> -->

    <!-- App -->
    <script src="js/wirecloud.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.3.js"></script>

</body>
</html>
