<div class="containter-fluid after-main-navbar">
	<div class="row">
		<div class="col-lg-12">
			<div class="container">
				<div class="row">

					<div class="jumbotron jumbotron-text">
						<h1 class="center">{{ 'TITLE_DASHBOARD' | translate }}</h1>
						<h3>{{ 'SUMMARY_DASHBOARD_1' | translate }}</h3>
						<p>{{ 'SUMMARY_DASHBOARD_2' | translate }}</p>
						<p>{{ 'SUMMARY_DASHBOARD_3' | translate }}</p>
						<p>{{ 'SUMMARY_DASHBOARD_4' | translate }}</p>	
					</div>

					<div ng-if="firstTime">
						{{refreshDashboard()}}
					</div>

					<div class="row dashboard-greenhouse-vision" ng-show="roomList.length > 0">
					  
					  <div id="title-section-rooms" class="green row">
						{{ 'TITLE_DASHBOARD_GLOBAL_VIEW' | translate }}
					  </div>
					  <div class="row">
						  <div class="col-md-6">
						   	<div id="title-2d-plan" class="green row">
								{{ 'TITLE_DASHBOARD_PLAN' | translate }} {{roomList[room].name}} {{ 'WORD_ROOM' | translate }}
						    </div>
						  </div>
						</div>
					   <div class="row">
						  <div class="col-md-6">	
						  	<canvas id="garden2D" width="600" height="600">{{ 'CANVAS_NOT_SUPPORTED' | translate }}</canvas>	
						  </div>
						  <div class="col-md-3">
						  	<div class="tree-view">
						  		<abn-tree tree-data="treeData" on-select="treeHandler(branch)">Abn Tree Test</abn-tree>
						  	</div>
						  </div>
						  <div class="col-md-3">
						  	<div class="alert alert-warning">{{output}}</div>
						  	<div ng-if="cropType == 1">
						  		<div class="alert alert-warning" translate="CROP_TYPE_TOMATOES"> </div>
						  	</div>
						  	<div ng-if="cropType == 2">
						  		<div class="alert alert-warning" translate="CROP_TYPE_PEPPERS"> </div>
						  	</div>
						  </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
</div>