<div class="jumbotron">
	<h1 translata> INSTALLATION</h1>
	<p translate>Following it is displayed the current Smart Light installation. It is possible to refresh it or to add/delete new elements</p>	
</div>

<div class="page-header">
 	<p translate>What is the type of your devices?</p>
 	<input type="string" ng-model="deviceType">
</div>

<div class="page-header">
    <h2 translate>What do you wanna do with your current Smart Light installation?</h2>
</div>
<p>
    <button type="button" class="btn btn-lg btn-primary" ng-click="refreshInstallation()" translate>Refresh</button>
    <button type="button" class="btn btn-lg btn-success" ng-click="addDevice()" translate>Add device</button>
    <button type="button" class="btn btn-lg btn-danger"  ng-click="removeDevice()" translate>Remove device</button>
</p>
<hr>

<p translate>Click in Refresh to see the current status of the devices installed in your Greenhouse</p>

<div ng-show="deviceList.length > 0" class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th translate class="col-md-3">Device Id</th>
				<th translate class="col-md-3">Last update</th>
				<th translate class="col-md-6">Position</th>
			</tr>
		</thead>

		<tbody>
		   <tr ng-repeat="device in deviceList">
		   		<td><button class="btn" ng-click="open(device[0])">{{device[0]}}</button></td>
				<td>{{device[1]}}</td>
				<td>{{device[2]}}</td>
		   </tr>
		</tbody>
	</table>
	
</div>

  <div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h4>Modal Dialog</h4>
    </div>
    <div class="modal-body">
        <p>Example paragraph with some text.</p>
    </div>
    <div ng-show="deviceProperties.length > 0" class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th translate class="col-md-3">Property</th>
				<th translate class="col-md-3">Type</th>
				<th translate class="col-md-6">Value</th>
			</tr>
		</thead>

		<tbody>
		   <tr ng-repeat="property in deviceProperties">
		   		<td>{{property[0]}}</td>
				<td>{{property[1]}}</td>
				<td>{{property[2]}}</td>
		   </tr>
		</tbody>
	</table>
	
</div>

    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">Okay</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
  </div>




<!-- Test with canvas-->
<div>
<button class="btn btn-success" ng-click="drawTestCanvas()">Draw canvas</button>
<div id="buttons">
      <input type="button" id="clear" value="Clear">
</div>

<canvas id="testCanvas" width="500" height="200"></canvas>
</div>