<nav id="navbar-second" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
          	<button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="navbar-brand-second" class="navbar-brand" href="">{{ 'ROOMS_MENU' | translate }}</a>
        </div>
		<div ng-if="firstTime">
			{{refreshRooms()}}
		</div>
		<div id="navbar" class="navbar-collapse collapse" collapse="navCollapsed">
	        <ul class="nav navbar-nav">
				<li ng-repeat="roomItem in roomList" id="btn-rooms">
				<button type="button" class="btn btn-default-green btn-default navbar-btn" ng-click="selectRoom($index)">{{roomItem.name}}</button>
				</li>
			</ul>
		</div>
	</div>
</nav>		

<div class="containter-fluid after-second-navbar">
	<div class="row" style="background-color: white;">
		<div class="col-lg-12">
			<div id="section-rooms" class="container">
				<div id="title-section-rooms" class="green row">
					{{ 'TITLE_LINE_CHARTS_ROOMS' | translate }} {{roomList[room].name}} {{ 'WORD_ROOM' | translate }}
				</div>

				
				<div class="row panel panel-default">
					<div id="header-table" class="panel-heading">{{'TITLE_DEVICES_PANEL' | translate }}</div>	
				    <div class="panel-body">
						<div class="col-md-5">
							<div class="row">	
								<table class="table">
									<caption id="caption-table">{{ 'TITLE_SENSORS_TABLE' | translate }}</caption>
									<thead>
										<tr>
											<th id="header-table" class="col-md-6">{{ 'HEADER_DEVICE_COLUMN' | translate }}</th>
											<th id="header-table" class="col-md-6">{{ 'HEADER_SENSOR_COLUMN' | translate }}</th>
										</tr>
									</thead>

									<tbody>
									   <tr ng-repeat="smartDevice in roomList[room].smartDeviceList">
									   		<td id="text-table">{{smartDevice.name}}</td>	
									   		<td id="text-table">
									   			<label ng-repeat="sensor in smartDevice.sensorList">
									   				<input type="checkbox" ng-model="sensor.displayChart" ng-change="refreshSensorCharts()">
									   				{{sensor.name}}
									   				<br/>
									   			</label>
								
									   		</td>
									   </tr>
									</tbody>
								</table>	
							</div>
						</div>

						<div class="col-md-5 col-md-offset-1">
							<div class="row">
								<table class="table">
									<caption id="caption-table">{{ 'TITLE_LIGHTS_TABLE' | translate }}</caption>
									<thead>
										<tr>
											<th id="header-table" class="col-md-6">{{ 'HEADER_DEVICE_COLUMN' | translate }}</th>
											<th id="header-table" class="col-md-6">{{ 'HEADER_LIGHT_COLUMN' | translate }}</th>
										</tr>
									</thead>

									<tbody>
									   <tr ng-repeat="smartDevice in roomList[room].smartDeviceList">
									   		<td id="text-table">{{smartDevice.name}}</td>	
									   		<td id="text-table">
									   			<label ng-repeat="lightDevice in smartDevice.lightDeviceList">
									   				<input type="checkbox" ng-model="lightDevice.displayChart" ng-change="refreshLightDeviceCharts()">
									   				{{lightDevice.name}}
									   				<br/>
									   			</label>
									   		</td>
									   </tr>
									   <tr>
									   		<td id="text-table">{{ 'HEADER_DUMB_LIGHT_ROW' | translate }}</td>
									   		<td id="text-table">
									   			<label ng-repeat="lightDevice in roomList[room].lightDeviceList"> {{lightDevice.name}}
									   				<input type="checkbox" ng-model="lightDevice.displayChart" ng-change="refreshLightDeviceCharts()">
									   			</label>
									   			<br/>
									   		</td>	
									   </tr>
									</tbody>
								</table>	
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5">
						<div class="row">
							<canvas id="sensorChart" class="chart chart-line" data="sensorData" labels="sensorLabels" legend="true" series="sensorSeries" click="onClick"></canvas> 
						</div>
						<div class="row" ng-show="sensorChartDifferentUnits">
							<div class="alert alert-warning" translate="CHARTS_DIFFERENT_UNITS"></div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="row">
							<canvas id="lightDevicesChart" class="chart chart-line" data="lightDeviceData" labels="lightDeviceLabels" legend="true" series="lightDeviceSeries" click="onClick"></canvas> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="containter-fluid">
	<div class="row" style="background-color: #78BE20;">
		<div class="col-lg-12">
		<div id="section-rooms" class="container">
			<div id="title-section-rooms" class="white row">
				{{ 'TITLE_PIE_CHARTS_ROOMS' | translate }} {{roomList[room].name}} {{ 'WORD_ROOM' | translate }}
			</div>

				<div class="row">
					<div id="chart-pie-custom" class="col-md-3">
						<h3 id="header-pie-chart" class="white">{{ 'HEADER_TODAY' | translate }}</h3>
						<div class="row">
							<canvas class="chart chart-pie" data="electricalSystemData" labels="electricalSystemLabels" legend="true"</canvas>
						</div>
					</div>
					
					<div id="chart-pie-custom" class="col-md-3 col-md-offset-1">
						<h3 id="header-pie-chart" class="white">{{ 'HEADER_LAST_WEEK' | translate }}</h3>
						<div class="row">
							<canvas id="energyChart" class="chart chart-pie" data="electricalSystemData" labels="electricalSystemLabels" legend="true"</canvas>
						</div>
					</div>

					<div id="chart-pie-custom" class="col-md-3 col-md-offset-1">
						<h3 id="header-pie-chart" class="white">{{ 'HEADER_LAST_MONTH' | translate }}</h3>
						<div class="row">
							<canvas id="energyChart" class="chart chart-pie" data="electricalSystemData" labels="electricalSystemLabels" legend="true"</canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="containter-fluid">
	<div class="row" style="background-color: white;">
		<div class="col-lg-12">
			<div id="section-rooms" class="container">
				<div id="title-section-rooms" class="green row">
					{{ 'TITLE_LIGHT_MANAGEMENT_ROOMS' | translate }} {{roomList[room].name}} {{ 'WORD_ROOM' | translate }}
				</div>

				<div class="row">
					<div class="row panel panel-default">
						<!--<h3 style="text-align: center;">Real time light management</h3>-->
						<div id="header-table" class="panel-heading"> {{ 'SUMMARY_LIGHT_MANAGEMENT_ROOMS' | translate }}</div>
					
						<div class="panel-body">
							<div ng-repeat="smartDevice in roomList[room].smartDeviceList" ng-show="smartDevice.lightDeviceList[0]">
								<div id="panel-light-management" class="row">
									<span id="caption-table">{{smartDevice.name}}</span>
									
									<div ng-repeat="lightDevice in smartDevice.lightDeviceList">
										<hr>
										<div  style="padding-top: 20px;">	
											<div class="row">
												<div id="header-table" class="col-md-3">
													{{lightDevice.name}}
												</div>
												<div class="col-md-3">
													<div class="btn-group">
												        <label class="btn btn-default-green btn-default">
												          <input type="radio" ng-value="false" id="manual" data-ng-model="lightDevice.automaticMode" ng-click="activateAutomaticMode(lightDevice, false)"> {{ 'BUTTON_MANUAL' | translate }}
												        </label>
												        <label class="btn btn-default-green btn-default">
												          <input type="radio"  ng-value="true" id="automatic" data-ng-model="lightDevice.automaticMode" ng-click="activateAutomaticMode(lightDevice, true)"> {{ 'BUTTON_AUTOMATIC' | translate }}
												        </label>
						      						</div>
												</div>

												<div id="text-table" class="col-md-6" ng-show="lightDevice.automaticMode">
													<label>
														{{ 'INPUT_INTERVALS' | translate }} <input type="number" min="0" max="99" data-ng-model="intervals"> 
													</label>
												</div>
											</div>

											<div class="row" ng-show="lightDevice.automaticMode" style="padding-top:10px;">
												<div ng-repeat="i in getIntervals(intervals) track by $index">
													<div id="text-table" class="col-md-3 col-md-offset-3">
														<label>{{ 'INPUT_INTERVAL_START' | translate }}
															<input type="time" id="start" placeholder="HH:mm:ss" min="00:00:00" max="23:59:59">
														</label>
													</div>

													<div id="text-table" class="col-md-3">
														<label>{{ 'INPUT_INTERVAL_END' | translate }}
															<input type="time" id="end" placeholder="HH:mm:ss" min="00:00:00" max="23:59:59">
														</label>
													</div>

													<div class="col-md-3">
														<input ng-model="sliderValue" type="text" id="mySlider1" slider options="sliderOptions" ng-disabled="enabled"/>
													</div>
												</div>
											</div>
											
					                        
											<div class="row" ng-show="!lightDevice.automaticMode" style="padding-top:10px;">
												<div class="col-md-2 col-md-offset-3">
													<label class="btn btn-default-green btn-default">
														<input id="on" value="ON" type="radio" data-ng-model="lightDevice.status" ng-click="activateDimming(lightDevice, false)"> {{ 'BUTTON_ON' | translate }} 
													</label>
												</div>

												<div class="col-md-2">
													<label class="btn btn-default-green btn-default">
														<input id="off" value="OFF" type="radio" data-ng-model="lightDevice.status" ng-click="activateDimming(lightDevice, false)"> {{ 'BUTTON_OFF' | translate }}
													</label>
												</div>

												<div class="col-md-2">
													<label class="btn btn-default-green btn-default">
														<input id="dimming" value="DIMMING" type="radio" data-ng-model="lightDevice.status" ng-click="activateDimming(lightDevice, true)"> {{ 'BUTTON_DIMMING' | translate }}
													</label>
												</div>

												<div class="col-md-3" ng-readonly="true" ng-show="lightDevice.displayDimming">
													<input ng-model="sliderValue" type="text" id="mySlider1" slider options="sliderOptions" ng-disabled="enabled"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
  							
							<div ng-show="saved">	
  								<div class="modal-body">
									<div ng-if="result">
										<div class="alert alert-success" ng-show="true">
											{{ 'MANAGEMENT_SAVED_OK' | translate }}
										 	<button type="button" class="close" data-ng-click="close()">x</button>
										</div>
									</div>
									<div ng-if="!result">
										<div class="alert alert-danger" ng-show="true">
											{{ 'MANAGEMENT_SAVED_KO' | translate }}
										 	<button type="button" class="close" data-ng-click="close()">x</button>
										</div>
									</div>
								</div>
							</div>	
							<button type="button" class="btn btn-success" ng-click="save()">{{'BUTTON_SAVE' | translate}}</button>
							<button type="button" class="btn btn-danger" ng-click="refreshRooms()">{{'BUTTON_CANCEL' | translate}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



