<nav id="navbar-second" class="navbar navbar-default navbar-fixed-top" ng-controller="navController">
	<div class="container">
		<div class="navbar-header">
         <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="navbar-brand-second" class="navbar-brand" href="">{{ 'MESSAGES_MENU' | translate }}</a>
        </div>
		<div id="navbar" class="navbar-collapse collapse" collapse="navCollapsed">
	        <ul class="nav navbar-nav">
				<button type="button" class="btn btn-default-green btn-default navbar-btn" ng-click="setDisplay('write')">{{ 'MESSAGES_WRITE' | translate}}</button>
				<button type="button" class="btn btn-default-green btn-default navbar-btn" ng-click="setDisplay('inbox')">{{ 'MESSAGES_INBOX' | translate}}</button>
				<button type="button" class="btn btn-default-green btn-default navbar-btn" ng-click="setDisplay('sent')">{{ 'MESSAGES_SENT' | translate}}</button>
			</ul>
		</div>
	</div>
</nav>


<div ng-if="firstTime">
	{{getMessagesHistory()}}
</div>

<div class="containter-fluid after-second-navbar" ng-show="displayWrite">
	<div class="row" style="background-color: white;">
		<div class="col-lg-12">
			<div class="container">
				<div class="row">
					<div class="jumbotron jumbotron-text">
						<h1>{{ 'HEADER_WRITE' | translate }}</h1>
						
						<form name="adviceForm">
							<div class ="form-group" ng-show="sent">
								<div class="modal-body">
									<div ng-if="result">
										<div class="alert alert-success" ng-show="true">
											{{ 'MESSAGES_SENT_OK' | translate }}
										 	<button type="button" class="close" data-ng-click="close()">x</button>
										</div>
									</div>
									<div ng-if="!result">
										<div class="alert alert-danger" ng-show="true">
											{{ 'MESSAGES_SENT_KO' | translate }}
										 	<button type="button" class="close" data-ng-click="close()">x</button>
										</div>
									</div>

								</div>	
							</div>
							<div class="form-group">
								<label>{{ 'INPUT_SUBJECT_ADVICE' | translate }}</label>
								<textarea class="form-control" cols="20" rows="1" ng-model="advice.subject"></textarea>
							</div>	

							<div class="form-group">
								<label>{{ 'INPUT_TEXT_ADVICE' | translate }}</label>
								<textarea class="form-control" cols="20" rows="5" ng-model="advice.text"></textarea>
							</div>
								

							<button type="button" class="btn btn-success" type="submit" ng-click="sendAdvice(advice)">{{ 'BUTTON_SEND' | translate }}</button>

						</form>	
					</div>
				</div>
			</div>
		</div>
	</div>>
</div>

<div class="containter-fluid after-second-navbar" ng-show="displayInbox">
	<div class="row" style="background-color: white;">
		<div class="col-lg-12">
			<div id="section-rooms" class="container">
				
				<div id="title-section-rooms" class="green row">
					<span class="header-table">{{ 'HEADER_INBOX' | translate }}</span>
				</div> 

				<div ng-show="!questionList.length">
					{{'MESSAGES_INBOX_EMPTY' | translate }}
				</div>
					
				<div ng-show="questionList.length">
					<div class="col-md-5">
						<div class="row"> 
							<table class="table">
								<caption id="caption-table">{{ 'TITLE_INBOX_TABLE' | translate }}</caption>
									<thead>
										<tr>
											
											<th id="header-table" class="col-md-4">{{ 'HEADER_SUBJECT_COLUMN' | translate }}</th>
											<th id="header-table" class="col-md-4">{{ 'HEADER_FROM_COLUMN' | translate }}</th>
											<th id="header-table" class="col-md-4">{{ 'HEADER_DATE_COLUMN' | translate }}</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="question in questionList">
											<td id="text-table" ng-class="{bold: !question.message.read}"><a ng-click="selectQuestion($index)">{{question.message.subject}}</a></td>
											<td id="text-table" ng-class="{bold: !question.message.read}">{{question.message.from}}</td>
											<td id="text-table" ng-class="{bold: !question.message.read}">{{question.message.date}}</td>	
										</tr>

									</tbody>
							</table>
						</div>
					</div>

					
					<div class="col-md-5 col-md-offset-1">
						<div class="row">
							<table class="table">
								<caption id="caption-table">{{ 'TITLE_INBOX_MESSAGE_TABLE' | translate }}</caption>
									<thead>
										<tr>
											<th id="header-table">{{questionList[questionSelected].message.subject}}</th>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td id="text-table">{{questionList[questionSelected].message.text}}</td>
										</tr>
									</tbody>
							</table>
						</div>
						<div class="row">
							<button type="button" class="btn btn-success pull-right" type="submit" ng-click="setDisplay('write'); advice.subject = questionList[questionSelected].message.subject">{{ 'BUTTON_REPLY' | translate }}</button>	
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="containter-fluid after-second-navbar" ng-show="displaySent">
	<div class="row" style="background-color: white;">
		<div class="col-lg-12">
			<div id="section-rooms" class="container">
				<div id="title-section-rooms" class="green row">
					{{ 'HEADER_SENT' | translate }}
				</div>

				<div ng-show="!adviceList.length">
					{{'MESSAGES_SENT_EMPTY' | translate }}
				</div>

				<div ng-show="adviceList.length">
					<div class="col-md-5">
						<div class="row"> 
							<table class="table">
								<caption id="caption-table">{{ 'TITLE_SENT_TABLE' | translate }}</caption>
									<thead>
										<tr>
											
											<th id="header-table" class="col-md-4">{{ 'HEADER_SUBJECT_COLUMN' | translate }}</th>
											<th id="header-table" class="col-md-4">{{ 'HEADER_TO_COLUMN' | translate }}</th>
											<th id="header-table" class="col-md-4">{{ 'HEADER_DATE_COLUMN' | translate }}</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="advice in adviceList">
											<td id="text-table"><a ng-click="selectAdvice($index)">{{advice.message.subject}}</a></td>
											<td id="text-table"></td>
											<td id="text-table">{{advice.message.date}}</td>	
										</tr>
									</tbody>
							</table>
						</div>
					</div>

					
					<div class="col-md-5 col-md-offset-1">
						<div class="row">
							<table class="table">
								<caption id="caption-table">{{ 'TITLE_SENT_MESSAGE_TABLE' | translate }}</caption>
									<thead>
										<tr>
											<th id="header-table">{{adviceList[adviceSelected].message.subject}}</th>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td id="text-table">{{adviceList[adviceSelected].message.text}}</td>
										</tr>
									</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
