<div class="tc-black-1" flex-container="row">
    <div flex-item="10" flex-item-order="1">Coordinates for uuid: {{uuid}}</div>
    <div flex-item="2" flex-item-order="2"><button class="btn" ng-click="opendDialog('registerCoordDlg')"><span class="glyphicon glyphicon-star"></span>Register new</button></div>
</div>

<div class="data-table-container">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:20%">
        <col style="width:40%">
        <thead>
            <tr>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Username</th>
                <th>CreatedBy</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            <tr>
                <td colspan="6" class="divider divider--dark"></td>
            </tr>
        </thead>
        <tbody ng-repeat="coordinates in coordinatesList">
            <tr>
                <td>{{coordinates.latitude}}</td>
                <td>{{coordinates.longitude}}</td>
                <td>{{coordinates.username}}</td>
                <td>{{coordinates.createdBy}}</td>
                <td>{{coordinates.date}}</td>
                <td>{{coordinates.description}}</td>
            </tr>
        </tbody>
    </table>
</div>

<lx-dialog class="dialog dialog--l" id="registerCoordDlg">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                Register new coordinates
            </span>
        </div>
    </div>

    <div class="dialog__content">
        <div class="p++">
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Uuid" disabled="uuidDisabled">
                        <input type="text" ng-model="coord.uuid" ng-disabled="uuidDisabled">
                    </lx-text-field>
                </div>
            </div>

            <div flex-container="row" flex-gutter="24">
                <div flex-item>
                    <lx-text-field label="Latitude">
                        <input type="text" ng-model="coord.latitude">
                    </lx-text-field>
                </div>

                <div flex-item>
                    <lx-text-field label="Longitude">
                        <input type="text" ng-model="coord.longitude">
                    </lx-text-field>
                </div>
            </div>

            <div flex-container="row" flex-gutter="24">
                <div flex-item>
                    <lx-text-field label="Username" disabled="true">
                        <input type="text" ng-model="coord.username" ng-disabled="true">
                    </lx-text-field>
                </div>

                <div flex-item>
                    <lx-text-field label="Created By" disabled="true">
                        <input type="text" ng-model="coord.username" ng-disabled="true">
                    </lx-text-field>
                </div>
            </div>

            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Description">
                        <input type="text" ng-model="coord.description"></textarea>
                    </lx-text-field>
                </div>
            </div>
        </div>

        <div class="dialog__actions">
            <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
            <button class="btn btn--m btn--black btn--flat" ng-click="registerNew()" lx-ripple lx-dialog-close>Save</button>
            <button class="btn" ng-click="getAdvice2()" lx-ripple lx-dialog-close>Get Advice 2</button>
        </div>
</lx-dialog>
