<div class="tc-black-1" flex-container="row">
    <div flex-item="10" flex-item-order="1">Trackings for {{fullname}} [{{username}}]</div>
    <div flex-item="2" flex-item-order="2"><button class="btn btn--m btn--blue btn--flat" ng-click="opendDialog('registerTrackingDlg')" lx-ripple>Register new</button></div>
</div>


<div class="data-table-container">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <col style="width:40%">
        <col style="width:20%">
        <col style="width:40%">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            <tr>
                <td colspan="3" class="divider divider--dark"></td>
            </tr>
        </thead>
        <tbody ng-repeat="tracking in trackingList">
            <tr class="data-table__clickable-row" ng-click="goCoordinates(tracking.uuid)">
                <td><span>{{tracking.uuid}}</a></span></td>
                <td><span>{{tracking.date}}</span></td>
                <td><span>{{tracking.description}}</span></td>
            </tr>
        </tbody>
    </table>
</div>


<lx-dialog class="dialog dialog--l" id="registerTrackingDlg">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                Register new tracking
            </span>
        </div>
    </div>

    <div class="dialog__content">
        <div class="p++">
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Username" disabled="true">
                        <input type="text" ng-model="track.username" ng-disabled="true">
                    </lx-text-field>
                </div>
            </div>

            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Description">
                        <input type="text" ng-model="track.description"></textarea>
                    </lx-text-field>
                </div>
            </div>
        </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button class="btn btn--m btn--black btn--flat" ng-click="registerNew()" lx-ripple lx-dialog-close>Save</button>
    </div>
</lx-dialog>

