/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#garden2D { 
  width: 100%;
  height: auto;
}


/* Overrides of bootstrap */

.navbar-brand {
  padding: 5px 15px;
}

.navbar-default .navbar-nav li a {
  color: #FF6900;
}


.btn-default {
  color: #FF6900;
}

.jumbotron {
  background-color: rgba(255, 105, 0, 0.3);

}

.alert-warning {
  background-image: linear-gradient(to bottom, #FFFFFF 0, rgba(255, 105, 0, 0.3) 100%);
  border-color: #FF6900;
  color: #FF6900;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #78BE20; 
}

a {
  color: #717C7D;
}

a:hover {
  color: #5A6363;
}

label {
  font-weight: normal;
  margin-bottom: 5px;
}


/* Own css*/

.tree-view {
  background: rgba(120, 190, 2, 0.3);
  border: 1px solid #78BE20;
}

.dashboard-greenhouse-vision {
  vertical-align: top;
  padding-top: 20px;
}

.footer {
  background-color: #78BE20;
  color: white;
  height: 300px;

}

.after-main-navbar {
  padding-top: 60px;
}

.after-second-navbar {
  padding-top: 100px; 
}

.btn-default-green {
  color:  #78BE20;
}

#navbar-brand-second {
  color: #78BE20;
  padding: 15px 15px;
  width: 140px;
}

#navbar-second {
  top: 50px;
}

#section-rooms {
  padding-top: 30px;
  padding-bottom: 40px;
}

#title-section-rooms {
  font-family: helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;

}

#title-section-rooms.green {
  color : #78BE20;
}



#title-section-rooms.white {
  color : white;
}

#caption-table {
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: #717C7D;
}

#header-table {
  font-family: helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  color: #717C7D;
}

#text-table {
  font-family: helvetica, Arial, sans-serif;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  color: #717C7D; 
}

#header-pie-chart {
  font-family: helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 24px;  
}

#header-pie-chart.green {
  color : #78BE20;  
}

#header-pie-chart.white {
  color : white;  
}

#chart-pie-custom {
  color : white;
}

#panel-light-management {
  padding-left: 10px;
  padding-right: 20px;
}

.jumbotron-text {
  color: #717C7D;
}

#text-table.bold {
  font-weight: bold;
}

